:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  
  --vt-c-gray-100: #f8f9fa;
  --vt-c-gray-200: #f3f4f6;
  --vt-c-gray-300: #e5e7eb;
  --vt-c-gray-500: #374151;
  
  --vt-c-blue-500: #3b82f6;
  --vt-c-blue-100: rgba(59, 130, 246, 0.1);
  --vt-c-blue-light: #8eccff;
  --vt-c-blue-light-transparent: #8eccff58;
}

/* semantic color variables */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-gray-100);
  
  --color-border: var(--vt-c-gray-300);
  
  --color-heading: var(--vt-c-gray-500);
  --color-text: var(--vt-c-gray-500);

  --color-primary: var(--vt-c-blue-500);
  --color-primary-light: var(--vt-c-blue-light);
  --color-primary-transparent: var(--vt-c-blue-light-transparent);
  --color-focus-ring: var(--vt-c-blue-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: #222222;

    --color-border: rgba(84, 84, 84, 0.48);

    --color-heading: var(--vt-c-white);
    --color-text: rgba(235, 235, 235, 0.64);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}